<%- include('./components/head') %> 

<%- include('./components/header/header.ejs') %>

<main class="content-main">
  <div class="content-section">
    <%- include('./components/sections/section1.ejs') %>
  </div>
  <div class="content-section">
    <%- include('./components/sections/section2.ejs') %>
  </div>
  <div class="content-section">
    <%- include('./components/sections/section3.ejs') %>
  </div>
  <div class="content-section">
    <%- include('./components/sections/section4.ejs') %>
  </div>
  <div class="content-section">
    <%- include('./components/sections/section5.ejs') %>
  </div>
  <%- include('./components/footer/footer.ejs') %>
</main>

<%- include('./components/footer') %>
